<!-- Page -->
<html>
    <head>
        <style> 
            body {
                margin: 0px;
                padding: 0px;
            }
            img {
                width: 100%;
            }
            #full-banner {
                width: 100%;
                padding: 5px;
                margin: 0px;
                height: 16px;
                text-align: center;
                font-size: 12px;
                font-weight: bolder;
                background-color: #ffaa99;
                font-family: Arial;
                vertical-align: middle;
            }
            #full-banner p {
                padding: 0px;
                margin: auto;
            }
        </style>
        <script type="text/javascript" src="/js/canvas-all.js"></script>

    </head>
    <body>

        <% 
            var user = "No user";
            if (context != "") { 
                var user = context['context']['user']['userName'];
            }
            
        %>

        <div id="full-banner"><p>You're connected to this system as <%= user %>.</p></div>

        <!-- <img id="ctx" src="<%= url %>" style="width:50px;" /> -->

        <script>
            console.log("SFDC Raw Context: <%= JSON.stringify(context) %>");
            const client = <%- JSON.stringify(context.client) %>;

            console.log("Context.Client: " , client);

            Sfdc.canvas.onReady(() => {
                console.log("Canvas SDK Ready, publishing event to SF");
                Sfdc.canvas.client.publish({
                    name: 'customEventFromCanvas',
                    payload: {
                      message: 'Hello from Canvas!',
                      time: new Date().toISOString()
                    }
                });
            });
            
        </script>

    </body>
</html>
