<!-- Page -->
<html>
    <head>
        <style> 
            #full-banner {
                width: 100%;
                padding: 5px;
                margin: 0px;
                height: 16px;
                text-align: center;
                font-size: 12px;
                font-weight: bolder;
                background-color: #37c479;
                font-family: Arial;
                vertical-align: middle;
            }
            #full-banner p {
                padding: 0px;
                margin: auto;
            }
            body {
                font-family: sans-serif;
                padding: 2rem;
            }
            .btn-container {
                text-align: center;
                margin: 0 auto;
            }
            button {
                margin-top: 10px;
                text-align: center;
                padding: 0.75rem 1.5rem;
                font-size: 1rem;
                background-color: #0070d2;
                color: white;
                border: none;
                border-radius: 0.3rem;
                cursor: pointer;
            }
            button:hover {
                background-color: #005fb2;
            }
        </style>
        <script type="text/javascript" src="/js/canvas-all.js"></script>

    </head>
    <body>
        <% 
            var user = "No user";
            if (context != "") { 
                var user = context['context']['user']['userName'];
            }
        %>
        <div id="full-banner"><p>User in Salesforce Canvas App: <%= user %>.</p></div>
        <div class="btn-container">
            <button id="sendEvent">Send Cart_UUID to Salesforce</button>
        </div>

        <script>
            const client = <%- JSON.stringify(context.client) %>;

            console.log("Context.Client: " , client);

            Sfdc.canvas.onReady(() => {
                console.log("Canvas SDK Ready");

                // For this example the event is published by clicking a button.
                document.getElementById("sendEvent").addEventListener("click", () => {

                    // Use this script to send the Cart_UUID to the Salesforce JS Component: 
                    // ######## Script Start ########
                    const client = <%- JSON.stringify(context.client) %>; // Canvas App context from app.js
                    console.log("Canvas Client Object: ", client);
                    Sfdc.canvas.client.publish({
                        name: "sfcanvas_ecat.cart_uuid_new", // The Salesforce JS Component will listen to this event name
                        payload: { // Payload can be anything, I suggest this structure:
                            status: 'success', // | error
                            message: "Success or Error message here",
                            cartUUID: 'abcde-12345-abcde'
                        }
                    });
                    // ######## Script End ########
                });
            });
        </script>

    </body>
</html>
